.container {
    width: 1170px;
    margin: 0 auto;
}

.background {
    background: url(../images/headerbackground.jpg);
    background-size: cover;
    height: 100%;
}

.bg-text {
    font-family: Montserrat;
    color: #ffffff;
    text-align: left;
}

.bg-text h1 {
    padding-top: 30%;
    margin-bottom: 15px;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.bg-text p {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 28px;
}

.bg-text h2 {
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-title-txt {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 48px;
    padding-bottom: 48px;
    width: 831px;
    margin-bottom: 145px;
    text-align: center;
}

.title-we {
    color: #f1ad1d;
}

.about-us {
    margin-bottom: 125px;
}

.about-us h2 {
    margin-top: 72px;
    margin-bottom: 35px;
    font-family: Montserrat;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

.about-us p {
    margin-bottom: 52px;
    font-family: Lato;
    color: #4d4943;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.hr-award,
.hr-our-projects,
.hr-change-ideas,
.hr-our-team,
.hr-our-secrets,
.hr-fuetered-on,
.hr-comments,
.hr-brands,
.hr-buy-this {
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    margin-bottom: 57px;
}

.webaward img {
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #f1b128;
    padding-bottom: 15px;
    margin-bottom: 125px;
}

.header-nav h3 {
    font-family: Montserrat;
    color: #f1b128;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-nav a {
    text-decoration: none;
}

.nav-bar a {
    margin-left: 60px;
    font-family: Lato;
    color: #3d3d3d;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.nav-bar a:hover {
    color: #f1b128;
}

.our-projects {
    display: flex;
    flex-direction: row;
}

.projects {
    width: 50%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

.project-img {
    margin-right: 22px;
    margin-bottom: 22px;
    display: inline-block;
    position: relative;
}

.project-img span {
    display: inline-block;
    position: absolute;
    top: 95px;
    left: 13px;
    font-family: Lato;
    color: #fff;
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 14px;
    padding-left: 14px;
    width: 103px;
    background-color: #333;
}

.project-text {
    width: 50%;
}

.project-text h5 {
    margin-bottom: 25px;
    font-family: Montserrat;
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
}

.consulting-color {
    color: #f1ad1d;
}

.project-text p {
    margin-bottom: 26px;
    font-family: Lato;
    color: #505050;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: justify;
}

.btn-check-our {
    display: block;
    width: 176px;
    height: 30px;
    background-color: #f1ad1d;
    padding-top: 19px;
    font-family: Lato;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    line-height: 12px;
    text-decoration: none;
}

.btn-check-our:hover {
    background-color: #9D6D09;
}

.we-change-ideas-bg {
    background: url(../images/wechangeideasbg.jpg);
    background-size: cover;
    height: 380px;
}

.we-change-ideas-text {
    padding-top: 150px;
    padding-bottom: 50px;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.we-change-ideas-text span {
    color: #f1ad1d;
}

.team-text h5 {
    margin-top: 110px;
    margin-bottom: 35px;
    font-family: Montserrat;
    color: #333;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

.team-text p {
    margin-bottom: 52px;
    font-family: Lato;
    color: #4d4943;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.our-team {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 110px;
}

.photo-person {
    margin-right: 2px;
    margin-bottom: 2px;
    display: inline-block;
    position: relative;
}

.text-photo-person {
    display: inline-block;
    position: absolute;
    top: 121px;
    left: 14px;
    font-family: Lato;
    color: #ffffff;
    font-size: 14px;
    width: 115px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 15px;
    background-color: #333;
}

.second-name {
    color: #f1ad1d;
}

.our-secrets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.secret {
    text-align: center;
    width: 270px;
    height: 420px;
    border-bottom: 3px solid #333;
    margin-bottom: 195px;
}

.secret h3 {
    padding-top: 19px;
    margin-bottom: 106px;
    width: 270px;
    height: 37px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
    background-color: #333;
}

.secret h3 span {
    color: #f1ad1d;
}

.hr-secret {
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    margin-bottom: 30px;
}

.secret h4 {
    margin-bottom: 16px;
    color: #505050;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.secret p {
    color: #505050;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.featured-bg {
    background: url(../images/featured-bg.jpg);
    background-size: cover;
    height: 475px;
}

.featured-on {
    padding-top: 175px;
    color: #fff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.featured-on span {
    color: #f1ad1d;
}

.featured-on h2 {
    padding-bottom: 60px;
}

.featured-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 840px;
}

.comments {
    margin-top: 152px;
}

.comments-text h4 {
    margin-bottom: 30px;
    color: #333;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.comments-text p {
    margin-bottom: 50px;
    color: #4d4943;
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.what-they-say {
    display: flex;
    justify-content: space-between;
    margin-bottom: 264px;
}

.comment-block {
    width: 370px;
}

fieldset {
    border-top: 3px groove #f1ad1d;
    border-bottom: 3px groove #333;
}

fieldset p {
    margin-bottom: 30px;
    color: #5b5b5b;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

legend {
    padding-right: 10px;
    padding-bottom: 20px;
}

.about-comment {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.about-comment p {
    margin-left: 13px;
    color: #5b5b5b;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.about-comment span {
    color: #313131;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.comments h4 {
    margin-bottom: 35px;
    color: #333;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.email-subscribe {
    display: flex;
    justify-content: center;
    margin-bottom: 170px;
}

.email-field {
    width: 598px;
    height: 60px;
    color: #747474;
    font-family: Lato;
    font-size: 18px;
    font-style: italic;
    padding-left: 30px;
}

.btn-subscribe {
    width: 172px;
    height: 66px;
    background-color: #f1ad1d;
    border: none;
    color: #fff;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.btn-subscribe:hover {
    background-color: #9D6D09;
}

.feedback-location {
    display: flex;
    flex-direction: row;
}

.send-message h5 {
    width: 365px;
    height: 34px;
    background-color: #333;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
    text-align: left;
    padding-left: 15px;
    padding-top: 18px;
}

.send-message h5 span {
    color: #f1ad1d;
}

.send-message p {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    margin-bottom: 26px;
    color: #505050;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.name-email {
    display: flex;
    flex-direction: row;
}

.name,
.email {
    width: 270px;
    height: 43px;
    border: 1px solid #929292;
    color: #505050;
    font-family: Lato;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    padding-left: 12px;
}

.name {
    margin-right: 12px;
}

.message-arrea {
    margin-top: 22px;
    width: 571px;
    height: 184px;
    border: 1px solid #929292;
    color: #505050;
    font-family: Lato;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    padding-top: 18px;
    padding-left: 12px;
    margin-bottom: 40px;
}

.btn-reset,
.btn-send {
    width: 118px;
    height: 43px;
    background-color: #f1ad1d;
    border: none;
    margin-right: 24px;
    color: #fff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
}

.btn-reset:hover,
.btn-send:hover {
    background-color: #9D6D09;
}

.location {
    margin-left: 228px;
    display: flex;
    flex-direction: column;
}

.location h5 {
    width: 246px;
    height: 34px;
    background-color: #333;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
    text-align: left;
    padding-left: 15px;
    padding-top: 18px;
}

.location h5 span {
    color: #f1ad1d;
}

.location p {
    margin-top: 23px;
    margin-bottom: 36px;
    height: 10px;
    color: #505050;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.icon-location,
.icon-phone,
.icon-mail-alt,
.icon-globe {
    padding-top: 9px;
    width: 36px;
    height: 22px;
    font-size: 14px;
    background-color: #333;
    color: #f1ad1d;
    text-align: center;
}

.location-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 9px;
}

.location-part span {
    margin-left: 12px;
    color: #505050;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.location-follow-text {
    margin-top: 63px;
}

.social-btn {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 140px;
}

.icon-facebook,
.icon-twitter,
.icon-gplus,
.icon-rss {
    margin-right: 16px;
    padding-top: 13px;
    display: block;
    width: 45px;
    height: 31px;
    background-color: #f1ad1d;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.brands-bg {
    background: url(../images/brands-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 485px;
    margin-bottom: 120px;
}

.title-text-brands {
    padding-top: 130px;
    text-align: center;
    color: #ffffff;
}

.title-text-brands h4 {
    margin-bottom: 60px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.title-text-brands p {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.title-text-brands span {
    color: #f1ad1d;
}

.brands-logo h4 {
    margin-bottom: 35px;
    color: #333;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.brands-logo p {
    margin-bottom: 52px;
    color: #4d4943;
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.big-branks {
    display: flex;
    justify-content: space-around;
    margin-bottom: 167px;
}

.news-title {
    margin-bottom: 35px;
    color: #333;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.news-title-description {
    margin-bottom: 52px;
    color: #4d4943;
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.news-column {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 112px;
}

.first-column,
.second-column,
.third-column {
    display: flex;
    flex-direction: column;
    width: 370px;
}

.article {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #333;
    margin-bottom: 32px;
}

.article-title {
    margin-top: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article-title h4 {
    margin-left: 9px;
    color: #333;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
}

.icon-pencil {
    padding-top: 8px;
    display: block;
    width: 36px;
    height: 25px;
    background-color: #333333;
    color: #f1ad1d;
    text-align: center;
}

.article-content {
    margin-top: 16px;
    color: #505050;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
}

.article-content p {
    margin-bottom: 15px;
}

.article-date {
    margin-top: 5px;
    margin-bottom: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-date p {
    color: #828282;
    font-family: Lato;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-transform: uppercase;
}

.quote-post {
    width: 370px;
    height: 157px;
    background-color: #dbdbdb;
}

.quote-post p {
    margin-left: 16px;
    padding-top: 23px;
    margin-bottom: 15px;
    color: #666;
    font-family: "Open Sans Light";
    font-size: 26px;
    font-weight: 300;
    font-style: italic;
}

.quote-post span {
    margin-left: 16px;
    color: #9c9b9b;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
}

.btn-load-more {
    margin-bottom: 110px;
    width: 231px;
    height: 51px;
    background-color: #f1ad1d;
    border: none;
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
}

.btn-more-news {
    display: flex;
    justify-content: center;
}

.btn-load-more:hover {
    background-color: #9D6D09;
}

.bg-buy-this {
    background: url(../images/buythis.jpg);
    background-size: cover;
    height: 380px;
    margin-bottom: 105px;
}

.title-buy-this h5 {
    padding-top: 95px;
    margin-bottom: 58px;
    color: #fff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.title-buy-this span {
    color: #f1ad1d;
}

.bg-buy-this a {
    padding-top: 18px;
    display: block;
    width: 177px;
    height: 32px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.btn-buy-this {
    display: flex;
    justify-content: center;
}

.btn-buy-this a:hover {
    background-color: #474747;
}

.buy-this-text h4 {
    margin-bottom: 35px;
    color: #333;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.buy-this-text p {
    margin-bottom: 52px;
    color: #4d4943;
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.portfolio-filter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 830px;
    margin-bottom: 45px;
}

.btn-filter {
    padding: 13px 40px;
    display: block;
    border: 1px solid #333;
    height: 15px;
    color: #333;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
}

.btn-filter:hover {
    color: #f1ad1d;
    background-color: #333;
}

.portfolio-examples {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}

.portfolio-img {
    margin-bottom: 15px;
}

.portfolio-img:hover {}

.footer-text h4 {
    padding-top: 24px;
    margin-bottom: 30px;
    height: 40px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 12px;
    color: #fff;
    background-color: #333;
    text-align: center;
}

.footer-text h4 span {
    color: #f1ad1d;
}

.footer-text p {
    color: #333;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 12px;
    text-align: center;
    margin-bottom: 40px;
}
